html,
body {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    width: 100%;
    display: flex;
}

#app {
    width: 100%;
    display: flex;
    flex-flow: column;
}

main {
    display: flex;
    flex: 2;
}

.options-drawer > div:first-child {
    top: 50px;
}


.money-input {
    width: 50%;
    background: none;
    color: white;
    border: none;
    text-align: center;
    margin: 40px auto;
    outline: none;
}