html,
body {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
}

#app {
    width: 100%;
    display: flex;
    flex-flow: column;
}

header {
    background: url(https://static.useresponse.com/public/bunq/my-interface/bunq-colours-bar-2.png);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 50px;
}

main {
    display: flex;
    flex: 2;
}

.options-drawer > div:first-child {
    top: 50px;
}
