html, body {
    margin: 0;
}

html {
    height: 100vh;
}

header {
    padding-top: 50px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body {
    background: url(https://static.useresponse.com/public/bunq/my-interface/bunq-colours-bar-2.png) repeat;
    height: calc(100vh - 50px);
    background-size: 100%;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex: 1;
}
#app > div{
    padding: 20px;
    flex: 1;
}
