html, body {
    margin: 0;
}

html {
    height: 100vh;
    background-color: $backgroundColor;
}

header {
    padding-top: 50px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body {
    background: url(https://static.useresponse.com/public/bunq/my-interface/bunq-colours-bar-2.png) no-repeat;
    height: calc(100vh - 50px);
    background-size: 100%;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
}

.container {
    flex: 1;
    padding: 20px;
    position: relative;
    min-height: 400px;
}
