.icon-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa,
.fab,
.fal,
.far,
.fas {
    width: 24px !important;
    height: 20px !important;
    font-size: 20px !important;
    display: inline-block;
    text-align: center;
}
