$backgroundColor: #fafafa;
$primaryTextColor: #555555;

$backgroundRainbow: linear-gradient(90deg,
    #238647,
    #238647 calc(100% / 12 * 1),
    #2F9B47 calc(100% / 12 * 1),
    #2F9B47 calc(100% / 12 * 2),
    #62B64F calc(100% / 12 * 2),
    #62B64F calc(100% / 12 * 3),
    #89CC53 calc(100% / 12 * 3),
    #89CC53 calc(100% / 12 * 4),
    #3DB8AD calc(100% / 12 * 4),
    #3DB8AD calc(100% / 12 * 5),
    #3394D7 calc(100% / 12 * 5),
    #3394D7 calc(100% / 12 * 6),
    #2872BC calc(100% / 12 * 6),
    #2872BC calc(100% / 12 * 7),
    #1D5C84 calc(100% / 12 * 7),
    #1D5C84 calc(100% / 12 * 8),
    #993233 calc(100% / 12 * 8),
    #993233 calc(100% / 12 * 9),
    #E13030 calc(100% / 12 * 9),
    #E13030 calc(100% / 12 * 10),
    #F28825 calc(100% / 12 * 10),
    #F28825 calc(100% / 12 * 11),
    #F5C836 calc(100% / 12 * 11),
    #F5C836 calc(100% / 12 * 12));

@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
