$backgroundColor: #fafafa;
$primaryTextColor: #555555;

$backgroundRainbow: linear-gradient(
    90deg,
    #238647,
    #238647 calc(100% / 12 * 1),
    #2f9b47 calc(100% / 12 * 1),
    #2f9b47 calc(100% / 12 * 2),
    #62b64f calc(100% / 12 * 2),
    #62b64f calc(100% / 12 * 3),
    #89cc53 calc(100% / 12 * 3),
    #89cc53 calc(100% / 12 * 4),
    #3db8ad calc(100% / 12 * 4),
    #3db8ad calc(100% / 12 * 5),
    #3394d7 calc(100% / 12 * 5),
    #3394d7 calc(100% / 12 * 6),
    #2872bc calc(100% / 12 * 6),
    #2872bc calc(100% / 12 * 7),
    #1d5c84 calc(100% / 12 * 7),
    #1d5c84 calc(100% / 12 * 8),
    #993233 calc(100% / 12 * 8),
    #993233 calc(100% / 12 * 9),
    #e13030 calc(100% / 12 * 9),
    #e13030 calc(100% / 12 * 10),
    #f28825 calc(100% / 12 * 10),
    #f28825 calc(100% / 12 * 11),
    #f5c836 calc(100% / 12 * 11),
    #f5c836 calc(100% / 12 * 12)
);

@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
