#login-background-image {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 50px);
    z-index: 0;
}

.login-wrapper {
    z-index: 1;
}

.cards-page {
    padding: 4px 16px !important;
}

.login-page,
.password-page {
    //background-image: url("../images/svg/login-bg2.svg") !important;
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: center center;

    .text-input {
        &:before {
            border-color: grey !important;
        }
    }

    .bunqdesktop-text-wrapper {
        z-index: 1;
        position: fixed;
        right: 30px;
        bottom: 30px;
        height: 24px;
        font-size: 24px;
        color: #ffffff;
    }
    .bunqdesktop-text-first {
        font-weight: 700;
    }
    .bunqdesktop-text-second {
        font-weight: 200;
    }

    .black-button {
        color: #ffffff !important;
        background-color: #000000 !important;
        &:hover,
        &:focus {
            background-color: #222123 !important;
        }

        &.disabled {
            color: #b7b7b7 !important;
        }
    }

    .white-button {
        color: #000000 !important;
        background-color: #ffffff !important;
        fontweight: 700;
        &:hover,
        &:focus {
            background-color: #e3e3e3 !important;
        }

        &.disabled {
            color: #191919 !important;
        }
    }
}
